@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #312827;
}
.nav {
	display: flex;
	flex-direction: column;
	width: 100%;
}
header {
	position: sticky;
	z-index: 50000;
	top: 0;
}

.navbar {
	width: 100%;
	height: 8.5vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(255, 255, 255);
	z-index: 3000;
}
.tvc_icon {
	margin-top: 6.5vh;
}

.banner__top {
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: x-large;
	font-family: 'Satoshi', sans-serif;
	color: aliceblue;
	background-image: url(../imagenes/banner__top.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0vh -20vh;
}
.banner__top h2 {
	font-weight: 800;
}
.banner__top h3 {
	font-weight: 500;
	margin-top: 1vh;
}
.reposition {
	width: 100%;
	height: 7vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #352c2a;
}
.positions {
	width: 24vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Vinila Test', sans-serif;
	color: aliceblue;
	font-weight: bolder;
	margin-left: 1.2vh;
}
.positions p {
	cursor: pointer;
}
.stream {
	width: 15vh;
}
.button__stream {
	border: 3px solid white;
	border-radius: 3px;
	height: 4.4vh;
	width: 12vh;
	background-color: rgba(255, 255, 255, 0.301);
	margin-top: 1.4vh;
}
.button__stream a {
	text-decoration: none;
	color: white;
	font-family: 'Vinila Test', sans-serif;
	font-weight: bold;
}

.main__container {
	height: 95vh;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.contenedor__izquierda {
	width: 50%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.titulos__izquierda {
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: aliceblue;
	font-family: 'Vinila Test', sans-serif;
	padding-left: 10vh;
	margin-bottom: 10vh;
	margin-top: 8vh;
}
.titulo__principal {
	font-size: 9vh;
	margin-bottom: 3vh;
}
.subtitulo__main {
	padding-right: 3vh;
	font-weight: 400;
	color: rgb(212, 212, 212);
}
.cartas__izquierda {
	height: 30vh;
	display: flex;
	flex-direction: row;
	padding-left: 5vh;
	padding-right: 5vh;
	justify-content: start;
	align-items: center;
}
.servidores__carta {
	display: flex;
	flex-direction: column;
	height: 37vh;
	width: 30vh;
	margin-right: 7vh;
	border-radius: 2vh;
	justify-content: space-around;
	padding-right: 2.7vh;
	padding-top: 2vh;
	padding-left: 4.5vh;
	border: 3.5px solid rgb(214, 83, 31);
	color: white;
	font-family: 'Vinila Test', sans-serif;
}
.poderes__carta {
	display: flex;
	flex-direction: column;
	height: 37vh;
	width: 30vh;
	margin-right: 7vh;
	border-radius: 2vh;
	justify-content: space-around;
	padding-right: 2.7vh;
	padding-top: 1.5vh;
	padding-left: 4.5vh;
	border: 3.5px solid rgb(98, 61, 231);
	color: white;
	font-family: 'Vinila Test', sans-serif;
}
.carta__main__titulo {
	font-size: 2.5vh;
	text-align: start;
}
.carta__main__explicacion {
	font-size: 2vh;
	line-height: 2.4vh;
	padding-right: 1vh;
	text-align: start;
	color: rgb(212, 212, 212);
	margin-bottom: 1vh;
}
.carta__main__explicacion__servidores {
	font-size: 2vh;
	line-height: 2.4vh;
	padding-right: 1vh;
	text-align: start;
	color: rgb(212, 212, 212);
	margin-bottom: 1vh;
	padding-top: 1vh;
	padding-bottom: 1.7vh;
}
.carta__main__boton__servidor {
	width: 90%;
	height: 12%;
	margin-bottom: 2vh;
	font-family: 'Vinila Test', sans-serif;
	display: flex;
	cursor: pointer;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 2vh;
	padding-right: 2vh;
	background-color: rgb(202, 75, 25);
	color: white;
	border: none;
}
.carta__main__boton__cartas {
	width: 90%;
	height: 12%;
	margin-bottom: 2vh;
	font-family: 'Vinila Test', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding-left: 2vh;
	padding-right: 2vh;
	background-color: rgb(98, 61, 231);
	color: white;
	border: none;
}
.carta__main__boton__cartas img {
	rotate: 180deg;
}
.carta__main__boton__servidor img {
	rotate: 180deg;
}
.jett__image {
	overflow: hidden;
	height: 65vh;
	z-index: 2;
}
.jett__image img {
	width: 80vh;
}
.jett__bk {
	font-size: 45vh;
	font-weight: bolder;
	color: #312827;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(153, 153, 153, 0.253);
	font-family: 'Vinila Test', sans-serif;
	position: absolute;
	z-index: -2;
	top: 20vh;
	right: 5vh;
}
.deph__rectangle {
	position: absolute;
	top: 80.5vh;
	width: 100%;
	background-color: #352c2a;
	height: 23vh;
	z-index: -5;
	display: flex;
	justify-content: end;
}
.texto__rectangulo {
	color: aliceblue;
	font-family: 'Vinila Test', sans-serif;
	text-align: start;
	width: 48%;
	padding-top: 3.5vh;
	padding-right: 25vh;
}
.texto__rectangulo h2 {
	font-size: 3vh;
}
.texto__rectangulo p {
	font-size: 2.2vh;
	line-height: 2.7vh;
	padding-top: 2vh;
	color: rgb(212, 212, 212);
}

.glass__server__card {
	width: 25.5vh;
	height: 36vh;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	cursor: pointer;
}
.server__card__container {
	width: 100%;
	height: 45vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.glass__server__card:hover {
	background-color: rgba(201, 201, 201, 0.185);
}
.glass__server__card.selected {
	background-color: rgba(43, 255, 0, 0.356);
}
.glass__server__card.chosen {
	background-color: #ec7a2ee0; /* Change this color to your desired chosen color */
}
.glass__server__card img {
	width: 18vh;
	padding-top: 1.4vh;
	margin-top: 2vh;
}
.servidor-boton {
	height: 6.3vh;
	margin-top: 3.7vh;
	width: 25.5vh;
	font-size: 2.2vh;
	background-color: rgb(255, 255, 255);
	border: none;
	font-weight: 500;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.dizzy {
	position: absolute;
	top: 109.5vh;
	right: 5vh;
	z-index: -2;
	transform: scaleX(-1);
	rotate: -10deg;
}
.dizzy img {
	width: 23.5vh;
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.26));
}
.servidores__titulo {
	width: 40%;
	height: 14vh;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	color: aliceblue;
	font-family: 'Vinila Test', sans-serif;
	margin-left: 12vh;
	margin-bottom: 2vh;
}
.servidores__titulo h3 {
	font-size: 3.2vh;
}
.servidores__titulo p {
	font-size: 2vh;
	color: rgb(212, 212, 212);
}
.texto__seleccion {
	margin-top: 1vh;
	text-align: center;
	color: rgb(212, 212, 212);
	font-family: 'Vinila Test', sans-serif;
	font-size: 2vh;
}
.spyke__imagen {
	position: absolute;
	left: 20vh;
}
.spyke__imagen img {
	width: 20vh;
	rotate: -2deg;
}
.buscar__container {
	background-color: #352c2a;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 20vh;
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}
.buscar__boton {
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
}
.reiniciar {
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
}
.reiniciar button {
	width: 28vh;
	height: 5vh;
	background-color: rgb(202, 75, 25);
	color: aliceblue;
	font-family: 'Vinila Test', sans-serif;
	font-size: 1.8vh;
	font-weight: 500;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
.buscar__boton button {
	width: 28vh;
	height: 5vh;
	background-color: rgb(202, 75, 25);
	color: aliceblue;
	font-family: 'Vinila Test', sans-serif;
	font-size: 1.8vh;
	font-weight: 500;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
.buscar__texto {
	width: 25%;
	color: rgb(212, 212, 212);
	font-family: 'Vinila Test', sans-serif;
	text-align: center;
	font-size: 2vh;
}
.buscar__resultado {
	width: 25%;
	color: rgb(212, 212, 212);
	font-family: 'Vinila Test', sans-serif;
	text-align: center;
	font-size: 2vh;
}
.cartas__seccion {
	height: 100vh;
	display: flex;
	flex-direction: row;
}
.cartas__izquierda__poderes {
	width: 50%;
	height: 100%;
}
.cartas__derecha__poderes {
	width: 50%;
	height: 100%;
}
.cartas__texto {
	font-family: 'Vinila Test', sans-serif;
	height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-evenly;
	text-align: end;
	padding-right: 10vh;
	padding-top: 15vh;
}
.cartas__texto h3 {
	font-size: 5vh;
	color: white;
	margin-bottom: 5vh;
}
.cartas__texto p {
	font-size: 2.2vh;
	color: rgb(212, 212, 212);
}
.oculto {
	opacity: 0;
	transform: translateY(5vh);
	transition: opacity 1.2s ease, transform 1.4s ease;
}
.mostrar {
	opacity: 1;
	transform: translateY(0);
}
#container3D {
	height: 70vh;
	width: 100%;
	z-index: 20000;
}
