@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #312827;
}
.nav {
	display: flex;
	flex-direction: column;
	width: 100%;
}
header {
	position: sticky;
	z-index: 50000;
	top: 0;
}

.navbar {
	width: 100%;
	height: 8vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(255, 255, 255);
	z-index: 3000;
}
.tvc_icon {
	margin-top: 6.5vh;
}

.banner__top {
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: x-large;
	font-family: 'Satoshi', sans-serif;
	color: aliceblue;
	background-image: url(../imagenes/banner__top.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0vh -20vh;
}
.banner__top h2 {
	font-weight: 800;
}
.banner__top h3 {
	font-weight: 500;
	margin-top: 1vh;
}
.reposition {
	width: 100%;
	height: 7vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #352c2a;
}
.positions {
	width: 34vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Vinila Test', sans-serif;
	color: aliceblue;
	font-weight: bolder;
	margin-left: 1.2vh;
}
.positions p {
	cursor: pointer;
	transition: font-size 0.2s ease;
}
.positions p:hover {
	font-size: 2vh;
	transition: font-size 0.2s ease;
}
.stream {
	width: 15vh;
}
.button__stream {
	display: block;
	border: 3px solid white;
	border-radius: 3px;
	height: 4vh;
	width: 10vh;
	padding-top: 0.8vh;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.192);
	margin-top: 1.4vh;
	color: white;
	text-decoration: none;
	font-family: 'Vinila Test', sans-serif;
	font-weight: bold;
}
.button__stream:hover {
	background-color: rgba(255, 255, 255, 0.89);
	color: rgb(243, 0, 0);
	font-weight: 900;
}

.main__container {
	height: 95vh;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.contenedor__izquierda {
	width: 50%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.titulos__izquierda {
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: aliceblue;
	font-family: 'Vinila Test', sans-serif;
	padding-left: 10vh;
	margin-bottom: 10vh;
	margin-top: 8vh;
}
.titulo__principal {
	font-size: 9vh;
	margin-bottom: 3vh;
}
.subtitulo__main {
	padding-right: 3vh;
	font-weight: 400;
	color: rgb(212, 212, 212);
}
.cartas__izquierda {
	height: 30vh;
	display: flex;
	flex-direction: row;
	padding-left: 5vh;
	padding-right: 5vh;
	justify-content: start;
	align-items: center;
}
.servidores__carta {
	display: flex;
	flex-direction: column;
	height: 37vh;
	width: 30vh;
	margin-right: 7vh;
	border-radius: 2vh;
	justify-content: space-around;
	padding-right: 2.7vh;
	padding-top: 2vh;
	padding-left: 4.5vh;
	border: 3.5px solid rgb(214, 83, 31);
	color: white;
	font-family: 'Vinila Test', sans-serif;
}
.poderes__carta {
	display: flex;
	flex-direction: column;
	height: 37vh;
	width: 30vh;
	margin-right: 7vh;
	border-radius: 2vh;
	justify-content: space-around;
	padding-right: 2.7vh;
	padding-top: 1.5vh;
	padding-left: 4.5vh;
	border: 3.5px solid rgb(98, 61, 231);
	color: white;
	font-family: 'Vinila Test', sans-serif;
}
.carta__main__titulo {
	font-size: 2.5vh;
	text-align: start;
}
.carta__main__explicacion {
	font-size: 2vh;
	line-height: 2.4vh;
	padding-right: 1vh;
	text-align: start;
	color: rgb(212, 212, 212);
	margin-bottom: 1vh;
}
.carta__main__explicacion__servidores {
	font-size: 2vh;
	line-height: 2.4vh;
	padding-right: 1vh;
	text-align: start;
	color: rgb(212, 212, 212);
	margin-bottom: 1vh;
	padding-top: 1vh;
	padding-bottom: 1.7vh;
}
.carta__main__boton__servidor {
	width: 90%;
	height: 12%;
	margin-bottom: 2vh;
	font-family: 'Vinila Test', sans-serif;
	display: flex;
	cursor: pointer;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-left: 2vh;
	padding-right: 2vh;
	background-color: rgb(202, 75, 25);
	color: white;
	border: none;
}
.carta__main__boton__cartas {
	width: 90%;
	height: 12%;
	margin-bottom: 2vh;
	font-family: 'Vinila Test', sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding-left: 2vh;
	padding-right: 2vh;
	background-color: rgb(98, 61, 231);
	color: white;
	border: none;
}
.carta__main__boton__cartas img {
	rotate: 180deg;
}
.carta__main__boton__servidor img {
	rotate: 180deg;
}
.jett__image {
	overflow: hidden;
	height: 65vh;
	z-index: 2;
}
.jett__image img {
	width: 80vh;
}
.jett__bk {
	font-size: 45vh;
	font-weight: bolder;
	color: #312827;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(153, 153, 153, 0.253);
	font-family: 'Vinila Test', sans-serif;
	position: absolute;
	z-index: -2;
	top: 20vh;
	right: 5vh;
}
.cartas__bk {
	font-size: 50vh;
	font-weight: bolder;
	color: #31282700;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(153, 153, 153, 0.253);
	font-family: 'Vinila Test', sans-serif;
	position: absolute;
	z-index: -2;
	top: 38vh;
	right: 22vh;
}
.deph__rectangle {
	position: absolute;
	top: 80.5vh;
	width: 100%;
	background-color: #352c2a;
	height: 23vh;
	z-index: -5;
	display: flex;
	justify-content: end;
}
.texto__rectangulo {
	color: aliceblue;
	font-family: 'Vinila Test', sans-serif;
	text-align: start;
	width: 48%;
	padding-top: 3.5vh;
	padding-right: 25vh;
}
.texto__rectangulo h2 {
	font-size: 3vh;
}
.texto__rectangulo p {
	font-size: 2.2vh;
	line-height: 2.7vh;
	padding-top: 2vh;
	color: rgb(212, 212, 212);
}

.glass__server__card {
	width: 25.5vh;
	height: 36vh;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	cursor: pointer;
}
.vidrio {
	position: absolute;
	width: 100%;
	height: 80%;
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	z-index: -2;
}
.server__card__container {
	width: 100%;
	height: 45vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.glass__server__card:hover {
	background-color: rgba(201, 201, 201, 0.185);
}
.glass__server__card.selected {
	background-color: rgba(43, 255, 0, 0.226);
}
.glass__server__card.chosen {
	background-color: #ec7a2ee0; /* Change this color to your desired chosen color */
}
.glass__server__card img {
	width: 18vh;
	padding-top: 1.4vh;
	margin-top: 2vh;
}
.servidor-boton {
	height: 6.3vh;
	margin-top: 3.7vh;
	width: 25.5vh;
	font-size: 2.2vh;
	background-color: rgb(255, 255, 255);
	border: none;
	font-weight: 500;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.dizzy {
	position: absolute;
	top: 109.5vh;
	right: 5vh;
	z-index: -2;
	transform: scaleX(-1);
	rotate: -10deg;
}
.dizzy img {
	width: 23.5vh;
	filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.26));
}
.servidores__titulo {
	width: 40%;
	height: 14vh;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	color: aliceblue;
	font-family: 'Vinila Test', sans-serif;
	margin-left: 12vh;
	margin-bottom: 2vh;
}
.servidores__titulo h3 {
	font-size: 3.2vh;
}
.servidores__titulo p {
	font-size: 2vh;
	color: rgb(212, 212, 212);
}
.texto__seleccion {
	margin-top: 1vh;
	text-align: center;
	color: rgb(212, 212, 212);
	font-family: 'Vinila Test', sans-serif;
	font-size: 2vh;
}
.spyke__imagen {
	position: absolute;
	left: 20vh;
}
.spyke__imagen img {
	width: 20vh;
	rotate: -2deg;
}
.buscar__container {
	background-color: #352c2a;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 20vh;
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}
.buscar__boton {
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
}
.reiniciar {
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
}
.reiniciar button {
	width: 28vh;
	height: 5vh;
	background-color: rgb(202, 75, 25);
	color: aliceblue;
	font-family: 'Vinila Test', sans-serif;
	font-size: 1.8vh;
	font-weight: 500;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
.buscar__boton button {
	width: 28vh;
	height: 5vh;
	background-color: rgb(202, 75, 25);
	font-size: 1.8vh;
	border-radius: 3px;
	font-family: 'Vinila Test', sans-serif;
	display: inline-block;
	font-weight: 600;
	margin-top: 4vh;
	-webkit-appearance: none;
	appearance: none;
	color: #fff;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(255, 72, 0, 0.5);
}

.buscar__boton button:focus {
	outline: 0;
}

.buscar__boton button:before,
.buscar__boton button:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.buscar__boton button:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, transparent 20%, var(--button-bg) 20%, transparent 30%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.buscar__boton button:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.buscar__boton button:active {
	transform: scale(0.9);
	background-color: darken(var(--button-bg), 5%);
	box-shadow: 0 2px 25px rgba(255, 94, 0, 0.2);
}

.testing.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}

.testing.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}

.buscar__texto {
	width: 25%;
	color: rgb(212, 212, 212);
	font-family: 'Vinila Test', sans-serif;
	text-align: center;
	font-size: 2vh;
}
.buscar__resultado {
	width: 25%;
	color: rgb(212, 212, 212);
	font-family: 'Vinila Test', sans-serif;
	text-align: center;
	font-size: 2vh;
}
.cartas__seccion {
	height: 90vh;
	display: flex;
	flex-direction: row;
}
.cartas__izquierda__poderes {
	width: 50%;
	height: 100%;
	margin-left: 10vh;
}
.cartas__derecha__poderes {
	width: 50%;
	height: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}
.cartas__texto {
	font-family: 'Vinila Test', sans-serif;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: start;
	text-align: end;
	margin-right: 12vh;
}
.cartas__imagen {
	margin-left: 3vh;
	margin-top: 4vh;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.cartas__texto h3 {
	font-size: 5.5vh;
	color: white;
	margin-bottom: 5vh;
}
.cartas__texto p {
	font-size: 2.2vh;
	color: rgba(212, 212, 212, 0.664);
	padding-left: 5vh;
}
.oculto {
	opacity: 0;
	transform: translateY(5vh);
	transition: opacity 1.2s ease, transform 1.4s ease;
}
.mostrar {
	opacity: 1;
	transform: translateY(0);
}
.ReglasContainer {
	height: 90vh;
	width: 100%;
	background-color: #111110;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: radial-gradient(#a7a0a01c, #0e0b092f);
}
#knifeContainer3D {
	height: 60vh;
	width: 35%;
	cursor: pointer;
	z-index: 20000;
}

#container3D {
	margin-top: 5vh;
	height: 100vh;
	width: 100%;
	cursor: pointer;
	z-index: 20000;
	margin-left: 0;
}
.g1 {
	position: absolute;
	background: radial-gradient(rgba(0, 0, 0, 0.904) 0, rgba(0, 0, 0, 0.795) 50%) no-repeat;
	width: 50%;
	height: 50%;
	border-radius: 100%;
	mix-blend-mode: hard-light;
	top: 220vh;
	filter: blur(200px);
	z-index: -15;
	opacity: 1;
	overflow: hidden;
}
.g2 {
	position: absolute;
	background: radial-gradient(rgb(255, 139, 45) 0, rgb(255, 183, 116) 50%) no-repeat;
	width: 25%;
	height: 30%;
	border-radius: 100%;
	mix-blend-mode: hard-light;
	left: calc(23.5% - 20% / 2);
	top: 225vh;
	filter: blur(200px);
	z-index: -10;
	opacity: 1;
}
.divisor__cartas {
	position: absolute;
	top: 279vh;
	width: 100%;
	height: 12vh;
	background-color: #312827;
	background-position: 0vh 0vh;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.mejora__carta {
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.divisor__cartas img {
	cursor: pointer;
}
.mejoras__seleccion__container {
	display: flex;
	flex-direction: column;
	height: 150vh;
	z-index: -10;
	background-repeat: no-repeat;
	background: linear-gradient(135deg, rgba(218, 95, 23, 0.438), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
.titulo__mejoras {
	color: aliceblue;
	display: flex;
	width: 100%;
	height: 10%;
	justify-content: center;
	align-items: center;
	font-family: 'Vinila Test', sans-serif;
	font-size: 5vh;
	background-color: rgba(240, 248, 255, 0);
	border-radius: 4px;
	z-index: 10000;
	margin-top: 2vh;
}
.seleccion__subcontainer {
	height: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.subtitulo__mejoras {
	height: 2%;
	margin-top: 2vh;
	color: rgba(240, 248, 255, 0.671);
	font-family: 'Vinila Test', sans-serif;
	font-size: 2.5vh;
	width: 100%;
	align-items: center;
	text-align: center;
	margin-bottom: 2vh;
	padding-left: 0.5vh;
}
.seleccion__completa {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	align-items: center;
	margin-bottom: 5vh;
}
.container__total {
	height: 73vh;
	width: 58%;
	border: 1px solid rgb(182, 182, 182);
	border-style: dashed;
	border-radius: 10px;
	padding: 2vh;
	display: flex;
	flex-direction: column;
}
.container__superior {
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}
.container__inferior {
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}
.container__final {
	height: 40%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}
.ultima__carta {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 90%;
	width: 16.5%;
	flex-direction: column;
}
.mezclar__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 40vh;
	flex-direction: row;
	padding-top: 3vh;
	border-radius: 20px;
	color: rgb(253, 253, 252);
	font-family: 'Vinila Test', sans-serif;
	margin-top: 3vh;
}
.boton__mezclar__container {
	width: 13.5vh;
	height: 3vh;
	margin-right: 8vh;
}
.boton__reiniciar__container {
	width: 14vh;
	height: 3vh;
}
.ultima__carta__izq {
	height: 73vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.mezclar__container p {
	height: 20%;
}
.mezclar__icono img {
	padding-right: 2px;
}

.boton__mezclar__container img {
	margin-right: 10px;
}
.ultima__seleccion {
	color: rgb(240, 248, 255);
	font-family: 'Vinila Test', sans-serif;
	font-size: 2.5vh;
	width: 50vh;
	text-align: center;
	margin-bottom: 5vh;
}
#ultima__seleccion__carta {
	width: 36vh;
	border: solid 2px rgba(255, 255, 255, 0.712);
	height: 50vh;
	border-radius: 12px;
	border-style: dashed;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
}
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 1;
}
.historial__container {
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	background-color: #0202012a;
}
.historial__container img {
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.historial__titulo {
	color: rgb(253, 253, 252);
	font-family: 'Vinila Test', sans-serif;
	height: 10%;
	font-size: 3vh;
	padding: 4vh;
	font-weight: 600;
}
#pickedCardsContainer {
	height: 90%;
	max-width: 93%;
	display: flex;
	flex-direction: row;
	justify-content: center; /* Center the content horizontally */
	align-items: center;
	margin-left: 10vh;
	margin-right: 10vh; /* Add margin-right to create space on the right */
	overflow-x: auto; /* Enable horizontal scrolling if needed */
}
footer {
	height: 36vh;
	width: 100%;
	background-color: rgba(14, 14, 14, 0.315);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 20px;
	overflow: hidden;
}
.mejora__carta {
	cursor: pointer;
}
.container__total img {
	transition: width 0.35s ease;
	border-radius: 12px;
}
.container__total img:hover {
	width: 15vh;
	box-shadow: 0 0 10px rgba(250, 120, 33, 0.61);
	border-radius: 12px;

	transition: width 0.35s ease;
}
.mejora__carta img {
	width: 11.5vh;
}
.footer__texto__container {
	color: rgba(253, 253, 252, 0.671);
	font-family: 'Vinila Test', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 60%;
	text-align: center;
}
.footer__derechos {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 2.5vh;
	height: 50%;
	font-weight: 700;
}
.footer__contacto {
	font-size: 2.1vh;
	padding-left: 13vh;
	width: 50%;
	height: 67%;
	display: flex;
	text-align: right;
	justify-content: space-evenly;
	flex-direction: column;
	line-height: 3vh;
	color: rgba(253, 253, 252, 0.466);
}
/* Add this to your existing CSS */
.container__total .big-card {
	transform: scale(4); /* You can adjust the scale value to make it larger */
	transition: transform 0.5s ease; /* You can adjust the transition duration and timing function */
}
#pickedCardsContainer .invisible__carta__post {
	margin-left: 9vh;
	width: 20vh;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.212);
}
#pickedCardsContainer .invisible__carta__post img {
	width: 100%;
}
.invisible__carta {
	display: none;
}
#ultima__seleccion__carta .invisible__carta__post img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 12px;
}
.invisible__carta__post {
	display: block;
}
/* Variables */
:root {
	--fuschia: #ff8902;
	--button-bg: var(--fuschia);

	--fuschia2: rgb(123, 88, 250);
	--button-bg2: var(--fuschia2);
}

/* Boton Mezclar Styles */
.boton__mezclar {
	font-family: 'Vinila Test', sans-serif;
	display: inline-block;
	font-size: 1.2em;
	padding: 1em 2em;
	font-weight: 600;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--button-bg);
	color: #fff;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(255, 136, 0, 0.5);
}

.boton__mezclar:focus {
	outline: 0;
}

.boton__mezclar:before,
.boton__mezclar:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 80%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.boton__mezclar:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, transparent 20%, var(--button-bg) 20%, transparent 30%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.boton__mezclar:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.boton__mezclar:active {
	transform: scale(0.9);
	background-color: darken(var(--button-bg), 5%);
	box-shadow: 0 2px 25px rgba(255, 145, 0, 0.2);
}

.boton__mezclar.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}

.boton__mezclar.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}

.boton__reiniciar__cartas {
	font-family: 'Vinila Test', sans-serif;
	display: inline-block;
	font-size: 1.2em;
	padding: 1em 2em;
	font-weight: 600;
	margin-right: 10vh;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--button-bg2);
	color: #fff;
	border-radius: 6px;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(110, 70, 255, 0.637);
}

.boton__reiniciar__cartas:focus {
	outline: 0;
}

.boton__reiniciar__cartas:before,
.boton__reiniciar__cartas:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 80%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.boton__reiniciar__cartas:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, var(--button-bg2) 20%, transparent 20%),
		radial-gradient(circle, transparent 20%, var(--button-bg2) 20%, transparent 30%), radial-gradient(circle, var(--button-bg2) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg2) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--button-bg2) 15%, transparent 20%),
		radial-gradient(circle, var(--button-bg2) 20%, transparent 20%), radial-gradient(circle, var(--button-bg2) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg2) 20%, transparent 20%), radial-gradient(circle, var(--button-bg2) 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.boton__reiniciar__cartas:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, var(--button-bg2) 20%, transparent 20%), radial-gradient(circle, var(--button-bg2) 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, var(--button-bg2) 15%, transparent 20%), radial-gradient(circle, var(--button-bg2) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg2) 20%, transparent 20%), radial-gradient(circle, var(--button-bg2) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg2) 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.boton__reiniciar__cartas:active {
	transform: scale(0.9);
	background-color: darken(var(--button-bg2), 5%);
	box-shadow: 0 2px 25px rgba(114, 38, 255, 0.459);
}

.boton__reiniciar__cartas.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}

.boton__reiniciar__cartas.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}

.buscar__boton {
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
}
.reiniciar {
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
}

.reiniciar button {
	width: 28vh;
	height: 5vh;
	background-color: rgb(202, 75, 25);
	font-size: 1.8vh;
	border-radius: 3px;
	font-family: 'Vinila Test', sans-serif;
	display: inline-block;
	font-weight: 600;
	-webkit-appearance: none;
	appearance: none;
	color: #fff;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(255, 72, 0, 0.5);
}

.reiniciar button:focus {
	outline: 0;
}

.reiniciar button:before,
.reiniciar button:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.reiniciar button:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, transparent 20%, var(--button-bg) 20%, transparent 30%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.reiniciar button:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.reiniciar button:active {
	transform: scale(0.9);
	background-color: darken(var(--button-bg), 5%);
	box-shadow: 0 2px 25px rgba(255, 94, 0, 0.2);
}

.buscar__boton button {
	width: 28vh;
	height: 5vh;
	background-color: rgb(202, 75, 25);
	font-size: 1.8vh;
	border-radius: 3px;
	font-family: 'Vinila Test', sans-serif;
	display: inline-block;
	font-weight: 600;
	-webkit-appearance: none;
	appearance: none;
	color: #fff;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(255, 72, 0, 0.5);
}

.buscar__boton button:focus {
	outline: 0;
}

.buscar__boton button:before,
.buscar__boton button:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.buscar__boton button:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, transparent 20%, var(--button-bg) 20%, transparent 30%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.buscar__boton button:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%), radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
		radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.buscar__boton button:active {
	transform: scale(0.9);
	background-color: darken(var(--button-bg), 5%);
	box-shadow: 0 2px 25px rgba(255, 94, 0, 0.2);
}

/* Keyframes */
@keyframes topBubbles {
	0% {
		background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}
	100% {
		background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
		background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}

@keyframes bottomBubbles {
	0% {
		background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
		background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}
	100% {
		background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 60%, 105% 10%;
	}
}
.preloader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(135deg, rgba(78, 41, 19, 0.726), rgb(26, 11, 4));
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
	transition: opacity 0.4s ease; /* Adjust transition duration for smoother fade-out */
}

.logo {
	filter: grayscale(100%); /* Initial grayscale effect */
	transition: filter 1.2s ease; /* Transition for smooth color change */
}
.logo img {
	width: 50vh; /* Adjust the size of your logo */
}
.seleccion__titular {
	width: 100%;
	margin-top: 2vh;
	height: 30vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.seleccion__titular__botones {
	display: flex;
	height: 20vh;
	width: 30vh;
	align-items: center;
	justify-content: space-around;
	margin-right: 3vh;
}
.seleccion__titular__texto {
	text-align: center;
}
.seleccion__titular__botones {
	height: 100%;
	width: 30vh;
}
.buscar__boton button {
	margin-top: 0;
}
.knife__bk {
	position: absolute;
	margin-top: 24vh;
}
.knife__bk img {
	width: 24svh;
	left: 93vh;
	z-index: -1;
}
.vidrio__reglas {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(10px);
	position: absolute;
	height: 57vh;
	width: 20vh;
	margin-top: 23vh;
	border-radius: 10px;
}
.reglas--section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.reglas--section ul {
	list-style-type: none;
}
.reglas--izquierda {
	width: 30%;
	font-size: 1.17em;
	font-family: 'Vinila Test', sans-serif;
	color: white;
	margin-left: 5vh;
}
.reglas--izquierda li {
	margin-bottom: 4.6vh;
}
.relgas--derecha li {
	margin-bottom: 4.6vh;
}
.reglas--titulo {
	height: 15%;
	font-size: 2.3em;
	font-family: 'Vinila Test', sans-serif;
	color: white;
	margin-top: 8vh;
}
.relgas--derecha {
	width: 35%;
	font-size: 1.17em;
	font-family: 'Vinila Test', sans-serif;
	color: white;
	text-align: end;
	margin-right: 5vh;
}

@media (min-width: 1200px) and (max-width: 1430px) {
	.jett__image {
		overflow: hidden;
		height: 65vh;
		z-index: 2;
	}
	.jett__image img {
		width: 60vh;
	}

	.cartas__izquierda {
		padding-right: 0;
		padding-left: 11vh;
	}
	.cartas__imagen {
		margin-right: 3vh;
		margin-top: 4vh;
		box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	}
	.cartas__imagen img {
		width: 500px;
	}
	.nav {
		width: 100%;
	}
	.logo__navbar {
		width: 49px;
	}
	.jett__bk {
		font-size: 39vh;
		-webkit-text-stroke-width: 1px;
		top: 26vh;
		right: 2.5vh;
	}
	.servidores__carta {
		height: 34vh;
		width: 27vh;
	}
	.carta__main__titulo {
		font-size: 2.4vh;
	}
	.carta__main__explicacion__servidores {
		font-size: 1.9vh;
		margin-bottom: 0;
	}
	.poderes__carta {
		height: 34vh;
		width: 27vh;
	}
	.carta__main__explicacion {
		font-size: 1.9vh;
	}
	.texto__rectangulo {
		padding-right: 2.5vh;
	}
	.glass__server__card {
		width: 22.5vh;
		height: 33vh;
	}
	.servidor-boton {
		margin-top: 1.7vh;
		width: 22.5vh;
	}
	.servidores__titulo {
		width: 50%;
	}
	.servidores__titulo p {
		font-size: 2.2vh;
		color: rgba(240, 248, 255, 0.671);
	}
	.buscar__boton button {
		margin-top: 0;
	}
	.carta__main__boton__cartas {
		font-size: 1em;
	}
	.carta__main__boton__servidor {
		font-size: 1em;
	}
	.cartas__texto p {
		padding-left: 0;
	}
	#container3D {
		left: 1vh;
		margin-top: 8vh;
	}
	.cartas__izquierda__poderes {
		margin-left: 0;
	}
	.mejora__carta img {
		width: 10.5vh;
	}
	.cartas__bk {
		font-size: 42vh;
		-webkit-text-stroke-width: 1.4px;
		top: 40vh;
		right: 4.5vh;
	}
	#pickedCardsContainer {
		margin-left: 3vh;
	}
	#pickedCardsContainer .invisible__carta__post {
		margin-left: 6.3vh;
	}
	.footer__contacto {
		padding-left: 9vh;
		font-size: 2vh;
	}
}
